vendor
node_modules
public/storage
Homestead.yaml
Homestead.json
public/css/
public/js
public/img/*
!public/img/logo.png
public/img/avatars/*
!public/img/avatars/default.png
public/categories
public/img/posts
.env
public/build
