.page-container {
	margin-top: 70px;
}
.modal-content {
	padding: 40px;
}
.social-buttons {
	margin-top: 25px;
}
.social-btn-wrapper {
	height: 60px;
	line-height: 60px;
	border-radius: 4px;
	.social-btn {
		display: block;
		position: relative;
		border-radius: 4px;
		&.social-btn-fb {
			background: #3b5998;
			.fa {
				border-radius: 4px 0 0 4px;
				background: #354f88;
			}
		}
		&.social-btn-gp {
			background: #dc4d28;
			.fa {
				border-radius: 4px 0 0 4px;
				background: #c54523;
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
	.fa {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		font-size: 40px;
		color: white;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
	}
	.social-btn-txt {
		font-size: 20px;
		text-align: center;
		display: block;
		padding-left: 60px;
		color: white;
	}
}
.alert {
	margin-top: 50px;
}