#upload-modal {
	text-align: center;
	.modal-header {
		border-bottom: 0;
	}
	.well {
		height: 240px;
		position: relative;
		cursor: pointer;
		&:hover {
			background-color: #eee;
		}
		.content {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 100%;
		}
		.fa {
			color: #999;
			font-size: 100px;
		}
	}
	.additional-upload-method {
		position: relative;
		height: 120px;
		border: 1px solid #CCC;
		border-radius: 6px;
		cursor: pointer;
		&:hover {
			background: #f4f4f4;
		}
		.content {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 100%;
		}
		.fa {
			color: #999;
			font-size: 60px;
		}
		a, 
		p {
			color: #999;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
#set-title-modal {
	.top-section {
		position: relative;
		width: 100%;
		height: 160px;
		border: 1px solid #ddd;
		padding: 20px;
	}
	textarea {
		width: 100%;
		border: 0;
		resize: none;
		height: 100%;
		padding-left: 120px;
		&:focus {
			border: 0;
			outline: 0;
		}
	}
	.form-group {
		border: 1px solid #ddd;
		margin: 0;
		padding: 6px 20px;
		border-top: 0;
	}
	.right-input {
		float: right;
	}
	.modal-footer {
		border: 0;
	}
}
#upload-url-input, 
#post-attribute-input {
	width: 100%;
	border: 0;
	&:focus {
		border: 0;
		outline: 0;
	}
}
#set-title-image-preview {
	position: absolute;
	max-width: 96px;
	max-height: 96px;
	top: 50%;
	left: 20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 3;
}
#upload-url-modal {
	.modal-body {
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
	}
}
#pick-section-modal {
	.modal-body {
		padding: 0;
	}
	label {
		cursor: pointer;
		padding: 10px;
		padding-bottom: 30px;
		display: block;
		clear: both;
		&:hover {
			background: #f4f4f4;
		}
	}
	.section-image {
		max-width: 50px;
		max-height: 50px;
		float: left;
		margin-right: 20px;
	}
	h4 {
		display: inline-block;
	}
	input {
		float: right;
		margin-top: 20px;
	}
}